
# /board_firmware/firmware/DAQiFi_3_0.X/
/board_firmware/firmware/DAQiFi_3_0.X/build
/board_firmware/firmware/DAQiFi_3_0.X/debug

# /board_firmware/libscpi/libscpi.X/
/board_firmware/libscpi/libscpi.X/build
/board_firmware/libscpi/libscpi.X/debug

# /board_firmware/microrl/microrl.X/
/board_firmware/microrl/microrl.X/build
/board_firmware/microrl/microrl.X/debug

# /board_firmware/microrl/microrl.X/dist/PIC32MZ2048EFM144/
/board_firmware/microrl/microrl.X/dist/PIC32MZ2048EFM144/debug

# /board_firmware/nanopb/nanopb.X/
/board_firmware/nanopb/nanopb.X/build
/board_firmware/nanopb/nanopb.X/debug

# /board_firmware/nanopb/nanopb.X/dist/PIC32MZ2048EFM144/
/board_firmware/nanopb/nanopb.X/dist/PIC32MZ2048EFM144/debug
/board_firmware/libscpi/libscpi.X/dist/
/board_firmware/microrl/microrl.X/dist/
/board_firmware/firmware/DAQiFi_3_0.X/dist/
/bootloader/firmware/basic.X/build/
/bootloader/firmware/basic.X/dist/