#page {
	border: 1px solid #333;
	background: #fff;
	border-top: 0;
	padding: 20px;
	font-size: 10pt;
}

#page td {
	font-size: 10pt;
}

#title {
	background: #B45F04;
	padding: 4px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 15px;
	height: 16px;
}

#title .right {
	float: right;
	width: 300px;
	text-align: right;
}

#status {
	/* width: 175px;
	float: right; */
	padding: 10px;
	margin: 10px;
	border: 1px dotted #666;
	font-weight: bold;
	font-size: 14pt;
}

#status p {
	padding: 5px 0 5px 10px;
	margin: 0;
    color:#0083b6;
}

#status .leds {
	font-size: 14pt;
    color:#0083b6;
}

#status .leds a {
	color: #ddd;
	cursor: pointer;
}

#status .leds a:hover {
	color: #ddd;
	text-decoration: none;
}

.examplebox {
	margin:10px 40px 10px 40px;
	padding: 8px;
	border: 1px dotted #333;
	text-align:center;
	background:#ddd;
}

.code {
	font-family: Courier New, Courier, fixed-width, fixed;
}

.exercise {
	background: #fe9;
	padding: 5px;
	margin-left: 10px;
	border-left: 2px solid #eb3;
}

.error {
	margin-left: 10px;
	padding: 10px;
	background: #fdd;
	border-left: 2px solid #900;
}

.examplebox td {
	text-align:left;
	padding-right: 15px;
}


	.ok {
		border-color: #6b6;
		background: #efe;
	}
	
	.fail {
		border-color: #b66;
		background: #fee;
	}
	
	.unk {
		border-color: #cc6;
		background: #ffd;
	}
	
#scanTable {
	width: 100%;
}

tbody tr{
	background: white;
    	text-align: left;
    	border-bottom: whitesmoke;
    	border-top: whitesmoke;
    	border-bottom-style: solid;
    	border-top-style: solid;
}

.scanTableRow {
	background: white;
	text-align: left;
}
.scanTableRowPadding {
	padding-left: 5px;
	padding-top:5%;
	padding-bottom:5%;
}

[id*="nyquist_dio"]{
	font-size: 3em;
	vertical-align: middle;
	line-height: 14pt;
}

[id*="led"]{
	font-size: 3em;
	vertical-align: middle;
	line-height: 14pt;
}

.scanTableRadio{
	height: 2em;
	width: 2em;
}
