/*
* Styles for 1:1 Pricing
*/

html {
	height: 100%;
    width: 100%;	
}

body {
    padding: 3px;
    height: 100%;
    width: 100%;
    color: #696969;
    padding-bottom: 30px;
    font-family: Arial, sans-serif;
    background:#fff;
    overflow-x: hidden;
    margin: 0 auto;
}

#customMain {
    margin: 0 auto;
}

.app-text {
	font-size: 16px;
	width: 100%;
	margin: auto;
}
.app-text-small {
	font-size: 14px;
}

.app-link-text {
	text-decoration: underline;
	color: #696969;
}

.app-detail-text {
	font-size: 17px;
	font-style: italic;
}

.section-heading-text {
	font-size: 20px;
    color:#000;
}

.app-heading-text {
	font-size: 30px;
}

.app-button {
	background-color: #DD0F28;
	color: #FAFAFA;
	margin: 5px;
	vertical-align: middle;
	min-width: 44px;
	min-height: 44px;
}

.app-icon-btn {
	background-color: #DD0F28;
	color: #FAFAFA;
	padding: 1px;
	min-width: 44px;
	min-height: 44px;
	text-align: center;
	vertical-align: middle;
}

.app-internal-btn {
	min-width: 44px;
	min-height: 44px;
	vertical-align: middle;
}

.app-btn-text {
	font-size: 30px;
}

.app-heading {
	margin-left: auto;
	margin-right: auto;
	margin-top: 27px;
	width: 100%;
	text-align: center;
}

.app-content {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 100%;
	text-align: left;
/*
	overflow: auto;
	min-height: 75%;
	max-height: 100%;
	max-height: calc(100% - 105px);
	height: 88%; 
	max-height: calc(100% - 105px);
	
	display: block;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: column;
	flex-direction: column;
*/
}

.app-select-cart {
	width: 100%;
	padding: 2px;
	
	background-color: #fafafa;
	color: #696969;
	
	vertical-align: middle;
	
	display: block;
	float: left;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: row;
	flex-direction: row;
	
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	
    -webkit-align-items: center;
	align-items: center;
	
	-webkit-justify-content: stretch;
	justify-content: stretch;
}

.user-cart-combo {
	position: relative;
	top:0px;
    left:0px;
    margin: 0px;
    
	background-color: #fafafa;
	color: #696969;
	
	height: 44px;
	min-width: 200px;
	width: 65%;
	
	display: inline;
	
	-webkit-flex: 1;
	flex: 1;
}

.user-cart-combo select {
	display: block;
	position: absolute;
	top:0px;
    left:0px;
	border:none;
	min-width: 200px;
	width: 100%;
	height: 44px;
	margin: 0px;
}

.user-cart-combo input {
	display: block;
	position: absolute;
	top:0px;
    left:0px;
	border:none;
	min-width: 180px;
	width: 95%;
	width: calc(100% - 20px);
	height: 44px;
	margin: 0px;
	border:none;
}

.cart-actions-container {
	display: block;
	float: right;
    display: -webkit-flex;
    display: flex;
    
    -webkit-align-items: center;
	align-items: center;
	
	-webkit-justify-content: space-around;
	justify-content: space-around;
}

#new-cart-button {
	margin-left: 10px;
	margin-right: 5px;
}

#delete-cart-button {
	margin-left: 5px;
	margin-right: 10px;	
}

.app-select-product {
	display: block;
    display: -webkit-flex;
    display: flex;
    margin: 0px;
    
    -webkit-flex-direction: row;
	flex-direction: row;
}

.product-search-container {
	display: inline-block;	
	background-color: #fafafa;
	color: #696969;
	border: 1px solid #fafafa;
	border-radius: 5px;
	width: 100%;	
	-webkit-flex: 1;
	flex: 1;	
	margin: 5px;
}

.product-search-input {
	display: inline;
	width: 75%;
	width: calc(100% - 100px);
	height: 100%;	
	background-color: #fff;
	color: #696969;
	margin: 0px;
	border: none;
}
/* 
#product-search-button {
	border: border: 1px solid #696969;
	margin-left: 5px;
	margin-right: 5px;
}
*/

#product-scan-button {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#rescan {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: block;
}

#__other__ {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: block;
}

.current-cart-container {
	min-height: 50%;
	height: 88%; /* fallback */
	-webkit-flex: 1;
	flex: 1;
	
	display: block; /* If flex is not supported, just stack the items */
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: column;
	flex-direction: column;
}

.product-list-container {
    margin-top:15px;
	min-height: 50%;
	/* max-height:80%; */
	max-height:250px;
	background-color: #fafafa;
	color: #696969;
	overflow: auto;
	margin: 10px 0px 10px 0px;
	/* border-radius: 5px; */
	
	display: block; /* If flex is not supported, just stack the items */
    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
	flex-direction: column;
	
/*
	-webkit-flex: 1 0;
	flex: 1 0;
*/
}


.product-list-item {
	padding: 5px;
	width: 100%;
	border: 1px solid;
	border-radius: 2px;
	overflow: auto;
/*
	clear: both;
	overflow: auto;
	height: auto;/* try */
	min-height: 102px;
	display: block; /* If flex is not supported, just stack the items */
*/
/* try end */
	

/*
	flex: 1;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: row;
	flex-direction: row;
	
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	
	-webkit-align-items: baseline;
	align-items: baseline;
*/
}

.product-name {
	float: left;
	width: 60%;
	margin:auto;
    text-align:left;
/*
	display: inline-block;
	vertical-align: middle;
*/
	
        -moz-box-flex: 1;       /* Mozilla */
        -webkit-box-flex: 1;    /* WebKit */

	-webkit-flex: 1 1;
	flex: 1 1;
}

.product-quantity-label {
	float: left;
	width: 10%;
	margin: auto;
    font-size:14px;
    padding-left:5px;
/*
	display: inline-block;
	vertical-align: middle;
	
	margin: 5px;
	min-width: 35px;
	
	-webkit-flex: 0;
	flex: 0;
*/
}

.product-quantity {
	float: left;
	width: 10%;
	margin:auto;
    font-size:18px;
/*
	display: inline-block;
	text-align: end;
	
	margin: 5px;
	max-width: 50px;
	
	-webkit-flex: 1;
	flex: 1;
*/
}

.product-delete-button {
/*
	display: inline;
*/
}
.app-cart-actions {
  display: block;
	max-width: 100%;
	margin: auto;
  margin-bottom: 20px;
	
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: column;
	flex-direction: column;
	
	-webkit-align-items: stretch;
	align-items: stretch;
}
/*
.app-cart-actions {
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -150px;
  margin-bottom: 20px;
 }
*/

.progress-overlay {
	background-color: #fafafa;
	color: #696969;
	/* opacity: 0.9; */
    background: #fafafa url("../images/bgd-circles.jpg") no-repeat fixed center center;
    border-radius:0 !important;
}

.progress-message {
	text-align: center;
}

.product-search-overlay  {
    background: #696969 url("../images/bgd-circles.jpg") no-repeat fixed center center;
    border-radius:0 !important;
}

.slow-spin {
  -webkit-animation: fa-spin 6s infinite linear;
  animation: fa-spin 6s infinite linear;
}

.progress-indicator {
	width: 100%;
	text-align: center;
	font-size: 150px;
	margin-left: auto;
	margin-right: auto;
}

.overlay {
    background: #f9f9f9 url("../images/bgd-circles.jpg") no-repeat fixed center center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius:0 !important;
}

.overlay-close-btn {
	color: #fafafa;
}

.product-search-list {
	background-color: #fafafa;
/*	color: #696969;		*/
	margin: 10px;
}

.product-search-item {
	border-radius: 2px;
	min-height: 35px;
	
    display: -webkit-flex;
    display: flex;
    
	-webkit-align-items: center;
	align-items: center;
	
	-webkit-justify-content: stretch;
	justify-content: stretch;
}

.product-search-image {
	max-width: 50px;
	max-height: 50px;
}

.product-search-name {
	width: 90%;
	width: calc(100% - 55px);
	padding: 5px;
	
	vertical-align: middle;
	overflow: hidden;
	color: #696969;
}

.product-search-name-btn-container {
	padding: 10px;
	margin-right: 10px;
	margin-left: auto;	
}

.consumer-attribute-checkbox {
	display: inline-block;
}

.consumer-attribute-name {
	display: inline-block;
	padding: 5px;
    color:#696969;
}

.consumer-attributes-list { 
    padding:10px;
    background-color:#fff; 
}

.consumer-attribute-actions {
	width: 100%;
	text-align: center;
}

.bid-list {
	display: block;
	width: 100%;
}

.bid-container {
	background-color: #fafafa;
	color: #696969;
	border-bottom: 1px solid;
	border-radius: 2px;
	text-align: center;
	width: 100%;
}

.bid-header {
	width: 100%;
	border: 1px solid;
	border-radius: 2px;
	padding-left: 5px;
    padding-top:5px;
	
	display: block;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: row;
	flex-direction: row;
	
	-webkit-align-items: center;
	align-items: center;
}

.bid-header .bid-details-btn {padding-right: 5px;}

.bid-radio {
	display: inline-block;
	width: 25px;
}

.bid-description {
	display: inline-block;
	padding: 4px;
	width: 60%;
	width: calc(100%-110px);
	
	-webkit-flex: 1;
	flex: 1;
}

.bid-details-btn {
	display: inline-block;
	float: 75px;
}

.bid-details {
	border: 1px solid #696969;
	border-radius: 5px;
	margin: 5px;
}
/*
.bid-retailer-info {
	width: 100%;
	text-align: left;
	padding: 2px;
	border: 1px solid #696969;
	border-radius: 5px;
}
	*/
.bid-retailer-info {
	width: 100%;
	padding: 5px;	
	display: block;
    display: -webkit-flex;
    display: flex;    
    -webkit-flex-direction: row;
	flex-direction: row;	
	-webkit-align-items: center;
	align-items: center;
}

.bid-item-container {
	/*
	width: 100%;
	display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
	flex-direction: column;
	
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	
    -webkit-align-items: center;
	align-items: center;
	
	-webkit-justify-content: stretch;
	justify-content: stretch;
	*/
}

.bid-product-item {
	min-height: 35px;
	width: 100%;
	
	display: block;
    display: -webkit-flex;
    display: flex;
    
	-webkit-align-items: center;
	align-items: center;
	
	-webkit-justify-content: stretch;
	justify-content: stretch;
	
	-webkit-flex-direction: row;
	flex-direction: row;
}

.bid-product-image {
	display: inline-block;
	
	max-width: 50px;
	max-height: 50px;
	
	vertical-align: middle;
}

.bid-product-name {
	display: inline-block;
	display: -webkit-flex;
    display: flex;
    
    max-width: 40%;
	/* joe edit original max-width: calc(100% - 175px); */
	max-width: calc(100% - 100px);
    padding: 5px;
    
    vertical-align: middle;
    text-align:left;
}

.bid-product-quantity-label {
	display: inline-block;
	display: -webkit-flex;
    display: flex;    
	max-width: 50px;
	padding: 5px;	
	vertical-align: middle;
}

.bid-product-quantity {
	display: inline-block;
	display: -webkit-flex;
    display: flex;
    
	max-width: 50px;
	padding: 5px;
	
	vertical-align: middle;
}

.bid-product-price {
	display: inline-block;
	display: -webkit-flex;
    display: flex;
    
	max-width: 75px;
	padding: 5px;
	
	vertical-align: middle;	
	margin-left: auto;
}

.bid-list-actions {
	/*display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto; */
  display: block;
	max-width: 100%;
	margin: auto;
  margin-bottom: 20px;
	
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: column;
	flex-direction: column;
	
	-webkit-align-items: stretch;
	align-items: stretch;
}

.accept-bid-button {
	display: block;
	-webkit-flex: 1 1 100%;
	flex: 1 1 100%;
}

.btn-text {
	display: block;
	width: 100%;
	max-width: 100%;
	word-wrap:break-word;
	white-space: normal;
}

/* from theme.css */
/* joe edit added below */
#cart-editor-header {
    padding:10px 15px 10px 15px;
    /* background:url("../images/cart-editor-header.jpg") no-repeat #701111; */
}
#cart-editor-header p {
    padding-left:15px;
    color:#000;
        font-size:16px;
}
#cart-editor-body {
    padding:25px 15px 25px 15px;
}

.customHeaderText {
    padding-top:35px;
    font-size:20px;
}

#new-cart-button i, #delete-cart-button i, i#product-search-overlay-close, i#consumer-attributes-close, i#bid-overlay-close {
    padding:5px 7px 5px 7px;
    font-size:25px;
    background-color:#fff;
    color:#ED1C24;
    display: inline-block;
    border-radius: 50px;
    cursor: pointer;
}
#product-search-button i, #product-scan-button i {
    font-size:20px;
    padding:7px;
    background-color:#fff;
    color:#ED1C24;
    display: inline-block;
    border:1px solid #fafafa;
}
#cart-editor-body .input-group, #cart-editor-body .form-control {border:1px solid #fafafa;}
.input-group {width:100% !important;}
#user-current-cart {
    width:100%;
    padding:8px 5px 8px 5px;
    color:#696969;
    border:1px solid #fafafa;
    border-radius: 5px;
}

.btn-danger {font-weight:600; font-size:22px;}

.btn-danger.customMenu {margin-left:10px;font-weight:500; font-size:18px;}

.product-delete-button {
	float: left;
	width: 10%;
	margin:auto;
    color:#ED1C24;
}

.table  { background-color:#fff;}



.cart-contents-header {
	background-color: #fafafa;
	color: #696969;
	border-bottom: 1px solid #D5D5D5;
	text-align: center;
	width: 100%;
}

.cart-contents-header-product {
	width: 100%;
	padding-left: 5px;
    padding-top:5px;
	
	display: block;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: row;
	flex-direction: row;
	
	-webkit-align-items: center;
	align-items: center;
}
.cart-contents-qty {
	display: inline-block;
	padding: 4px;
    padding-left:120px;
	width: 60%;
	width: calc(100%-110px);
	
	-webkit-flex: 1;
	flex: 1;
}
.cart-contents-remove {padding-right: 20px;}

.overlay-close-btn:hover {cursor:pointer;}

@media (max-width: 480px) {
    .custom-small {font-size:18px;}
    .custom-small-two {font-size:22px;}
    .custom-small-three {font-size:13px;}
    .customHeaderText {
        padding-top:5px;
        font-size:16px;
    }    
}

@media (max-width: 350px) {
    .user-cart-combo {
    	min-width: 100px;
    	width: 65%;
    }
    
    .user-cart-combo select {
    	min-width: 100px;
    	width: 100%;
    }
    
    .user-cart-combo input {
    	min-width: 80px;
    	width: 95%;
    	width: calc(100% - 20px);
    }
    #cart-editor-header p {
        padding-left:10px;
        font-size:16px;
    }
    i.customIconShopCart {
        margin-right:5px;
        padding:5px 5px 5px 5px;
        font-size:40px;
    }
    .custom-small {font-size:15px;}
    .custom-small-two {font-size:20px;}
    .custom-small-three {font-size:13px;}
    
    .product-quantity {padding-left:5px !important;}

}



/* from overlay.css */
.overlay {
	border-radius: 20px;
	width: 100%;
	height: 500%;
	padding: 5px;
	position:absolute;
    top:0;
    z-index:9999;
    text-align: left;
    
    display: block; /* If flex is not supported, just stack the items */
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: column;
	flex-direction: column;
}

.overlay-heading {
	margin: 5px;
	width: 100%;
	min-height: 50px;
	
	vertical-align: top;

	display: inline; 
    display: -webkit-flex;
    display: flex;
    
    -webkit-align-items: flex-start;
	align-items: flex-start;
}

.overlay-title {
	display: inline-block; /* If flex is not supported, just wrap the items */
	margin-left: 32px;
	width: 100%;
	width: calc(100% - 50px)%;
	text-align: center;
	-webkit-flex: 1;
	flex: 1;
}

.overlay-close-container {
	display: inline; /* If flex is not supported, just wrap the items */
	
	padding: 10px;
	margin-right: 10px;
	margin-left: auto;
}

.overlay-content {
	/*width: 33%;*/
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
	margin-left: auto;
	margin-right: auto;
	
}

/* from progress-overlay.css */
.progress-overlay {
	border-radius: 20px;
	width: 100%;
	height: 100%;
	padding: 5px;
	position:absolute;
    top:0;
    left:0;
    z-index:9999;
    text-align: left;
    
    display: block; /* If flex is not supported, just stack the items */
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-direction: column;
	flex-direction: column;
}

.progress-overlay-heading {
	margin: 5px;
	width: 100%;
	min-height: 50px;
	
	vertical-align: top;

	display: inline; 
    display: -webkit-flex;
    display: flex;
    
    -webkit-align-items: flex-start;
	align-items: flex-start;
}

.progress-overlay-title {
	display: inline-block; /* If flex is not supported, just wrap the items */
	width: 80%;
	width: calc(100% - 50px)%;
	
	-webkit-flex: 1;
	flex: 1;
}

.progress-overlay-close-container {
	display: inline; /* If flex is not supported, just wrap the items */
	
	padding: 10px;
	margin-right: 10px;
	margin-left: auto;
}

.progress-overlay-content {
	width: 100%;
	height: 100%;
    overflow: hidden;
    padding: 5px;
    
    -webkit-flex: 1;
	flex: 1;
}

@media (min-width: 650px) {
	.app-heading {
		width: 80%;
	}
	
	.app-content {
		width: 80%;
	}	
}

@media (min-width: 992px) {
	.app-heading {
		width: 70%;
	}
	
	.app-content {
		width: 70%;
	}
}



